:root {
  --main-color: #a51c30;
  --secondary-color: #f5df91;
}

* {
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

button.tematic {
  background-color: var(--main-color);
  border: none;
  box-shadow: none;
  color: #fff;
  
  &:hover {
    background-color: var(--secondary-color);
    color: #0000008e;
  }

}

.league-spartan-font {
  font-family: "League Spartan", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* -------------------- Tables --------------------- */

.actions-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;

  button {
      width: 30px;
      height: 30px;
      border-radius: 50%;

      background-color: var(--secondary-color);
      color: #0000009f;
  }
}

/* .p-paginator-page.p-highlight {
  color: #fff;
  background-color: #00000050;
}

.p-paginator-bottom {
  svg, span button{
     color: #000000bd;
 }

 button{
     background-color: #ffffff;
 }
} */
