section#class-add-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;
    height: 100vh;

    div.title-div{
        position: absolute;
        left: 50px;
        top: 100px;

        .page-title {            
            color: #5F6368;
            font-size: 3em;
            margin: 0;
        }
        h2.sub-page-title {
            text-align: end;
            font-size: 1.6em;
        }
    
    }

    div#class-form-div {
        transform: translateY(100px);

        display: grid;
        grid-template-columns: 50% 50%;
        gap: 70px;

        div.input-div {
            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                border-radius: 5;
                background-color: #dadada;
                border: none;
                border-bottom: 1px solid #000;
                box-shadow: none;
            }
        }

        button {
            grid-column: span 2;
            justify-self: center;
        }

    }
}

@media (max-width: 790px) {
    section#class-add-section div#class-form-div {
        grid-template-columns: 1fr;

        button {
            grid-column: 1;
        }
    }
}