section#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;

    height: 100vh;

    div#page-options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 50px;

        width: 100%;
    }
}