section#subject-add-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10%;

    height: 100vh;

    div.title-div{
        position: absolute;
        left: 50px;
        top: 100px;

        .page-title {            
            color: #5F6368;
            font-size: 3em;
            margin: 0;
        }
        h2.sub-page-title {
            text-align: end;
            font-size: 1.6em;
        }
    
    }

    div#subject-form-div {
        margin-top: 15%;

        & > * {
            transform: translateX(-35px);
        }

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 70px;
        flex-wrap: wrap;

        div.input-div {
            display: flex;
            flex-direction: column;

            input , .p-multiselect{
                width: 300px;
                border-radius: 5;
                background-color: #dadada;
                border: none;
                border-bottom: 1px solid #000;
                box-shadow: none;
            }
        }

        div.buttons-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            grid-column: span 2;
            justify-self: center;

            button {
                font-size: 19px;
            }

            .view-data-button {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }

    }
}

.data-dialog {
    
    div.data-dialog-item:has(h3) > *:nth-child(2) {
        margin-left: 10px;
    }

    div.selected-list {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}