section#login-section {
    /* display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 0; */
    display: flex;
    flex-direction: row;


    height: 100vh;

    .logo-img-div {
        background-color: #a51c30;
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
        }
    }
    
    
    .forms-div{
        background-color: #fff;
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3em;
            transform: translateY(-100px);
        }
        
    }
}

section#login-section .forms-div .inputs-fields{
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    div {
        width: 100%;
        max-width: 400px;

        label {
            transform: translateY(20px);
        }

        input{
            width: 100%;
            border-radius: 0;
            background-color: #dadada;
            border-bottom: 1px solid #000;
        }

        .p-password  {
            width: 100%;

            .p-icon-field{
                width: 100%;    
                position: relative;

                .p-input-icon{
                    position: absolute;
                    top: 50%;
                }
            }
        }
    }

    button {
        margin-top: 40px;
        background-color: #a51c30;
        border: none;

        &:hover {
            background-color: #f5df91;
            box-shadow: 0px 0px 7px #f5df91;
        }
    }
}

@media screen and (max-width: 1100px){
    section#login-section {
        .logo-img-div img {
            display: none;
        }
    }
}

@media screen and (max-width: 700px){
    section#login-section {
        .logo-img-div {
            display: none;
        }

        .forms-div {
            width: 100%;
        }
    }
}

section#login-section {
    .emblem-animation-div {
        animation: emblem-div-animation 2s 0s forwards;

        .emblem-animation {
            animation: emblem-animation 1s 0s forwards;
        }
    }

    .form-animation-div {
        animation: form-div-animation 2s 0s forwards;

        .login-forms-animation{
            animation: login-forms-animation 1s 0s forwards;
        }
    }
}

@keyframes emblem-div-animation{
    from {
        width: 30%;
    }
    to{
        width: 100vw;
    }
}

@keyframes emblem-animation{
    from {
        width: 80%;
    }
    to{
        width: 40%;
    }
}

@keyframes form-div-animation{
    from {
        width: 70%;
    }
    to{
        width: 0vw;
        display: none;
        height: 100vh;
    }
}

@keyframes login-forms-animation{
    from {
        opacity: 100%;
    }
    to{
        opacity: 0%;
        display: none;
    }
}