:root {
    --main-color: #a51c30;
    --secondary-color: #f5df91;
}

* {
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.league-spartan-font {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }