* {
    margin: 0;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.league-spartan-font {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }